<% content_for :body_heading do %>
  New <%= t('app.name') %> Appointment
<% end %>

<div class="content">
  <p>
    <%= @user.name %> has a <%= t('app.name') %> appointment at
    <%= @event.facility.name %> at
    <%= display_datetime(@event.local_time) %>.
  </p>

  <p>
    <%= link_to 'View Appointment', event_url(@event), class: 'cta' %>
  </p>
</div>
