<% content_for :body_heading do %>
  New <%= t('app.name') %> Appointment
<% end %>

<div class="content">
  <p>
    You have created a new appointment for live streaming at <%= t('app.name') %>. Please click
    the link below for more details or to invite friends and family to share in your live stream. You can also create a <strong>password</strong> to limit access to only those friends and family you wish to have view live.
  </p>
  <p>
    When: <strong><%= display_datetime(@event.local_time) %></strong><br>
    Where: <strong><%= @event.facility.address.to_s %></strong><br>
  </p>
  <p>
    <%= link_to t('app.name'), event_url(@event), class: 'cta' %>
  </p>
</div>
