<% content_for :body_heading do %>
  New <%= t('app.name') %> Appointment
<% end %>

<div class="content">
  <p>
    You have a new <%= t('app.name') %> appointment. Please click
    the link below for details.
  </p>
  <p>
    When: <strong><%= display_datetime(@event.local_time) %></strong><br>
    Where: <strong><%= @event.facility.address.to_s %></strong><br>
  </p>
  <p>
    <%= link_to t('app.name'), event_url(@event), class: 'cta' %>
  </p>
</div>
