<%= form_for user do |f| %>
  <% if user.errors.any? %>
    <div class="row">
      <div class="col-sm-12">
        <div id="error_explanation">
          <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', autofocus: true %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label :phone %>
        <%= f.phone_field :phone, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label :role %>
        <% role_index = User::ROLES.index(current_user.role) %>
        <% roles = User::ROLES[0..role_index].map{ |role| [role.titlecase, role] } %>
        <%= f.select :role, roles, {}, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
      <% if !user.new_record? && user_is?('super_admin') %>
        <div class="form-group">
          <%= link_to 'Destroy', user, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure? This is permanent!'} %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
