<%= form_with(model: event, local: true) do |form| %>
  <% if user_is?('user') %>
    <%= form.hidden_field :user_id, value: current_user.id %>
  <% else %>
    <%= form.hidden_field :admin_id, value: current_user.id %>
  <% end %>

  <% if event.errors.any? %>
    <div class="row">
      <div class="col-sm-12">
        <div id="error_explanation">
          <h2>
            <%= pluralize(event.errors.count, "error") %>
            prohibited this event from being saved:
            </h2>

          <ul>
          <% event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <%= form.label :start_time %>
        <% start_time = event.facility && event.start_time ? event.local_time.strftime('%FT%T') : nil %>
        <%= form.text_field :start_time, class: 'form-control' %>

        <script>
          $(document).on('turbolinks:load', function(){

            $('#event_start_time').flatpickr({
              enableTime: true,
              dateFormat: "Y-m-d H:i",
            });
          });
        </script>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <% if local_assigns[:users] %>
          <%= form.label :user_id %>
          <%= form.select :user_id, users.map{ |u| [u.name, u.id]},
                          {include_blank: true}, class: 'form-control' %>
        <% end %>

        <% if user_is?('user') && event.new_record? %>
          <%= form.label :facility_id %>
          <% selected = current_user.patronages.last.facility.id if current_user.facilities.last %>
          <%= form.select :facility_id,
                          current_user.facilities.map{ |u| [u.name, u.id] },
                          {selected: selected},
                          class: 'form-control' %>
        <% end %>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <% if user_is?('user') %>
          <%= form.label :password %>
          <%= form.text_field :password, class: 'form-control' %>
        <% end %>
      </div>
    </div>
  </div>

  <% if @event.new_record? && user_can?('admin') %>
    <%# This is very similar to users/_form, and maybe worth drying up %>
    <div id="new_user_fields">
      <h4>New User</h4>
      <%= form.fields_for :user, User.new do |user_fields| %>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <%= user_fields.label :name %>
              <%= user_fields.text_field :name, class: 'form-control' %>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <%= user_fields.label :email %>
              <%= user_fields.email_field :email, class: 'form-control' %>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <%= user_fields.label :phone %>
              <%= user_fields.phone_field :phone, class: 'form-control' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <%= form.submit class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>

<script>
  // #TODO -jf Spec
  $(document).on('turbolinks:load', function(){
    let form = new NewEventForm;
    form.init();
  });
</script>
