<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div class="row">
      <div class="col-sm-12">
        <div id="error_explanation">
          <h2>
            <%= pluralize(event.errors.count, "error") %>
            prohibited this event from being saved:
            </h2>

          <ul>
          <% event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <%= form.label :start_time %>
        <%= form.datetime_field :start_time, class: 'form-control' %>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <% if local_assigns[:users] %>
          <%= form.label :user_id %>
          <%= form.select :user_id, users.map{ |u| [u.name, u.id]},
                          {include_blank: true}, class: 'form-control' %>
        <% end %>

        <% if user_is?('user') %>
          <%= form.label :facility_id %>
          <%= form.select :facility_id,
                          current_user.facilities.map{ |u| [u.name, u.id] },
                          {selected: current_user.facilities.last.id},
                          class: 'form-control' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <%= form.submit class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
