<table id="appointment_table" class="table">
  <% events.group_by{ |e| e.start_time.strftime('%B') }.each do |month, month_group| %>
    <% month_group.group_by{ |e| e.start_time.strftime('%e') }.each do |day, day_group| %>
      <tr class="header_row">
        <td colspan="5">
          <h3>
            <%= month %>
            <small><%= day %></small>
          </h3>

        </td>
      </tr>

      <% day_group.each do |event| %>
        <% user = event.user %>
        <tr>
          <td class="start_time">
            <%= event.start_time.strftime('%l:%M %p') %>
          </td>
          <td class="name"><%= user.name %></td>
          <td>
            <input type="text" value="<%= event.stream_token %>"
                    class="stream_token click_to_copy" />
          </td>
          <td>
            <%= link_to 'View', event, class: 'btn btn-primary btn-sm' %>
          </td>
          <td>
            <%= link_to 'Edit', edit_event_path(event), class: 'btn btn-info btn-sm' %>
          </td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</table>

<script>
  $(document).on('turbolinks:load', function(){
    clickCopy('.stream_token');
  });
</script>
