<div id="events">
  <% if user_can?('admin') || @event.user == current_user %>
    <div class="container">
      <div class="row">
        <div class="col-12">
            <div class="float-right" style="margin-bottom:20px;">
              <%= link_to 'Edit', edit_event_path(@event), class: 'btn btn-primary' %>
            </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="container">
    <% if @event.user == current_user %>
      <div class="container" id="invite">
        <div class="row">
          <div class="col-12">
            <h3>
              Invite People
              <small>seperate with commas</small>
            </h3>

            <%= form_tag invite_event_path(@event) do %>
              <div class="form-group">
                <%= text_field_tag :emails, '', class: 'form-control', placeholder: 'List emails' %>
              </div>

              <div class="form-group float-right">
                <%= submit_tag 'Submit', class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="col-12">
        <h1 class="text-center">
          <%= @event.user.name %>
          <small><%= @event.local_time.strftime('%B %e, %Y @ %l:%M%P') %></small>
        </h1>
      </div>
    </div>

    <%= render partial: 'player' %>
  </div>
</div>

<script>
  // $(document).on('turbolinks:load', function(){
    // var stream_player = new StreamPlayer('<%= @event.to_param %>');
  // });
</script>
