<td><a href="/facilities/<%= id %>"><%= name %></a></td>
<td><%= phone %></td>
<td><%= address.street %></td>
<td><%= address.street2 %></td>
<td><%= address.city %></td>
<td><%= address.state %></td>
<td><%= address.zip %></td>
