<td><%= name %></td>
<td><a href="tel:<%= phone %>"><%= phone %></a></td>
<td><a href="mailto:<%= email %>"><%= email %></a></td>
<td><%= role %></td>
<td><a href="#" class="btn btn-sm btn-primary">New Appointment</a></td>
<td><a href="/users/<%= id %>/edit" class="btn btn-sm btn-info">Edit</a></td>
